.sec_article {
    background: $color-light;

    .article_back {
        padding:15px 0;
        a {
            font:bold 14px $heading-font-family;
            color: $color-dark;
            display: inline-block;
            line-height: 20px;
            padding:5px 0;

            i {
                font-size: 20px;
                color: $color-primary;
                line-height: 1;
                margin:-2px 5px;
            }
        }
    }

    .article_body {
        background: $color-white;
        padding:35px 0;
    }

    .article_copy {
        padding:0 0 0 50px;
        .info {
            margin:0;
            padding:0;
            display: flex;
            flex-flow: wrap;

            li {
                list-style: none;
                margin:0 25px 0 0;
                font-size: 14px;

                i {
                    font-size: 20px;
                    color: $color-primary;
                }
            }
        }
    }

    .article_side {
        padding:0 35px;
    }
    .course_info {

    }

    .course_contents {
        ul {
            margin:0;
            padding:0;
            li {
                list-style: none;
                color: $color-grey-6;
                cursor: default;

                &:before {
                    font-family: "apt-icons";
                    content: "\5a";
                }

                a {
                    display: block;
                    padding:0;
                    color: $color-grey-6;       
                    
                    &:before {
                        font-family: "apt-icons";
                        content: "\31";
                    }  
                }

                &.active {
                    &:before {
                        display: none;
                    }
                    a {
                        color: $color-dblue-1;
                    }
                }

                &.done {
                    &:before {
                        display: none;
                    }
                    a { 
                        color: $color-grey-9; 
                    }                 
                }
            }
        }
    }
    
}


