
/* Header Sticky Nav Style 9 */
header {
	position: relative; 
	z-index: 9999;
	
	&.overlap {
		position: absolute;
		left: 0;
		right: 0;
		z-index: 999;

		.hsnav-s9 {
			background: darken($color-white, 3%);
			box-shadow: none;
		}
	}
	.hsnav-s9 {
		background: darken($color-white, 3%);
		max-width: none !important;
		
		&.sticky {
			position: absolute;
			position: fixed;
			left: 0;
			right: 0;
			top: 0;
		}
		&.is-stuck {
			position: fixed;
			background: darken($color-white, 3%);
			//box-shadow: 0 3px 15px 0 $color-grey-1;
		}

		.navbar {
			position: relative;
			min-height: 82px;
			padding-top: 10px;
			padding-bottom: 10px;

			.logo, .navlogo {
				width: 165px;
				margin-top: 5px;
			}

			.navleft {
				float: left;
				// width: 55%;
				display: flex;
				align-items: center;
				//height: 110px;
				flex-flow: wrap;
			}
			 
			.navright {
				float: right;
				width: calc(100% - 240px);
				display: flex;
				padding:6px 0 0;
				align-items: center;
				min-height: 65px;
				justify-content: flex-end;
			}

			.btn-phone,
			.btn-user, 
			.btn-shop {
				display: inline-block;
				vertical-align: middle;
				margin: 0 10px;

				[class*=ai] {
					font-size: 22px;
					display: inline-block;
					vertical-align: middle;
					line-height: 1;

					&:before {
						vertical-align: middle;
					}
				}
			}
			.btn-user, .btn-shop  {
				font-size: 0;
			}

			.btn-phone {
				color: $color-grey;
				font-weight: 500;
				[class*=ai] {
					color: $color-primary;
				}
			}

			.btn-shop {
				position: relative;
				font-size: 0;
				white-space: nowrap;

				.badge {
					background: $color-grey;
					line-height: 23px;
					width: 22px;
					height: 22px;
					font-size: 14px;
					padding: 0;
					min-width: 1px;
					font-weight: 400;
					vertical-align: middle;
					margin:0 0 0 5px;
				}
			}
			
			.btn-user {
				padding:0;
				margin:-2px 0 0 10px;
				border:1px solid $color-grey-1;
				border-radius: 50%;
				width: 28px;
				height: 28px;
				line-height: 26px;
				text-align: center;

				[class*=ai] {
					color: $color-primary;
					font-size: 18px;
				}
			}

			.navicon {
				width: 60px; 
				height: 60px; 
				position: relative;  
				font-size: 0; 
				cursor: pointer; 
				display: inline-block;
				vertical-align: middle;
				margin: 0;
				z-index: 99999;

				&:before {
					content: ""; 
					position: absolute; 
					border-top: 2px solid lighten($color-black, 50%); 
					border-bottom: 2px solid lighten($color-black, 50%); 
					left: 18px;
					top: 22px;
					width: 20px;
					height: 8px; 
					transition: all 0.5s ease;
				}
				&:after {
					content: ""; 
					position: absolute; 
					border-top: 2px solid lighten($color-black, 50%); 
					left: 18px; 
					top: 34px; 
					width: 20px; 
					transition: all 0.5s ease;
				}
				@at-root header.show-menu .hsnav-s9 .navicon {
					background: #de3f5a;
					&:before {
						box-shadow: none; 
						left: 14px; 
						top: 24px; 
						height: 3px; 
						transform: rotate(-45deg); 
						border-bottom: 0; 
						left: 19px;
						top: 30px;
						width: 13px;
						border-top: 2px solid $color-white; 
					}
					&:after {
						left: 14px; 
						top: 24px; 
						left: 26px;
						top: 30px;
						width: 13px;
						transform: rotate(45deg);
						border-top: 2px solid $color-white; 
					}
				}

			}		

			.my-account {
				background: $color-grey-3;
				position: absolute;
				//left: 0;
				right: 0;
				top:-100vh;
				display: none;
				width: 400px;
				box-shadow: 0px 0px 25px rgba(0,0,0,0.3);
				padding: 10px 30px 20px;

				&:before {
					content: "";
					position: absolute;
					border: 10px solid transparent;
					border-bottom-color: #f8f5ed;
					right: 35px;
					top: -20px;
				}
				
				@at-root header.show-account  .navbar .my-account {
					display: block;
					top: 70px;
				}
				
				h3 {
					font-family: $heading-font-family;
					font-size: 18px;
					border-bottom: 1px solid $color-grey-1;
					color: $color-primary;
					margin: 0 0 10px;
					padding: 0 0 10px;

					small {
						font:13px $body-font-family;
						color:#2c3c4f;
						float: right;
						margin-top: 5px;
					}
					a {
						font-weight: bold;
						color:#43778d;
					}
				}

				h4 {
					font-size: 18px;
					border-bottom: 1px solid $color-grey-1;
					color: $color-primary;
					margin: 0 0 10px;
					padding: 0 0 10px;
				}

				.tabs-menu {
					display: flex;
					margin:0 0 20px;
					padding:0;

					li {
						list-style: none;
						flex: 1;
						text-align: center;
						border-bottom: 1px solid $color-grey-1;
						color: $color-grey;

						&.is-active {
							border-bottom: 1px solid $color-primary;
							color: $color-primary;
						}

						a {
							background: none;
							font-size: 16px;
							font-weight: 500;
						}
					}
				}

				.tabs-panel {
					padding: 0;
				}

				.field {
					margin-bottom: 10px;
				}
				.remember {
					font-size: 16px;
					padding:10px 0;

					input {
						margin-bottom: 0;
					}
				}
				.action {
					margin-bottom: 15px;
				}
				.forgot {
					text-align: center;
					font-size: 16px;
					padding:0 0 10px;
				}

				.logged.out {
					display: none;
				}
				.logged {
					&.out {
						display: none;
					}

					&.in {
						display: block;
					}
					ul {
						margin:0;
						padding:0;

						li {
							list-style: none;
							margin:0;
							padding:0;
							font-size: 16px;

							a {
								font-weight: 500;
								color:$color-black;
								display: block;
								padding: 5px 0;

								i {
									font-size: 25px;
									display: inline-block;
									vertical-align: middle;
									color: $color-primary;
									line-height: .8;
									margin: 0 5px 0 0;
								}
							}
						}
					}
				}

			}

			@include media(max-width, 1023px) {

				.my-account {
					left: 0;
					width: auto;
					box-shadow: none;
					
					overflow: auto;
					max-height: calc(100vh - 100px);
	
					&:before {
						display: none;
					}
					
					@at-root header.show-account  .navbar .my-account {
						top: 100px;
					}
				}
				
			}
			@include media(max-width, 639px) {
				.btn-phone {
					font-size: 0;
				}
			}
		}

	}
}
.sub-menu {
	display: none; 
}
