
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: "apt-icons";
    src:url("../fonts/apt-icons.eot");
    src:url("../fonts/apt-icons.eot?#iefix") format("embedded-opentype"),
        url("../fonts/apt-icons.woff") format("woff"),
        url("../fonts/apt-icons.ttf") format("truetype"),
        url("../fonts/apt-icons.svg#apt-icons") format("svg");
    font-weight: normal;
    font-style: normal;
  
 }



// Custom APT Icons
[data-icon]:before {
	font-family: "apt-icons" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: top;
}

[class^="ai-"],
[class*=" ai-"] {
	line-height: 1.2;
	display: inline-block;
	vertical-align: middle;
}
[class^="ai-"]:before,
[class*=" ai-"]:before {
	font-family: "apt-icons" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: top;
}

.ai-chev-down:before {
  content: "\61";
}
.ai-chev-left:before {
  content: "\62";
}
.ai-chev-right:before {
  content: "\63";
}
.ai-arrow-down:before {
  content: "\64";
}
.ai-arrow-left:before {
  content: "\65";
}
.ai-arrow-right:before {
  content: "\66";
}
.ai-arrow-up:before {
  content: "\67";
}
.ai-chev-up:before {
  content: "\68";
}
.ai-facebook:before {
  content: "\70";
}
.ai-twitter:before {
  content: "\71";
}
.ai-instagram:before {
  content: "\72";
}
.ai-youtube:before {
  content: "\73";
}
.ai-envelope:before {
  content: "\74";
}
.ai-placepin:before {
  content: "\75";
}
.ai-cart:before {
  content: "\77";
}
.ai-classroom:before {
  content: "\6a";
}
.ai-online:before {
  content: "\6b";
}
.ai-zoom:before {
  content: "\6c";
}
.ai-person:before {
  content: "\69";
}
.ai-phone:before {
  content: "\6e";
}
.ai-search:before {
  content: "\6d";
}
.ai-gradcap:before {
  content: "\6f";
}
.ai-triangle-down:before {
  content: "\76";
}
.ai-triangle-left:before {
  content: "\78";
}
.ai-triangle-right:before {
  content: "\79";
}
.ai-triangle-up:before {
  content: "\7a";
}
.ai-all-classes:before {
  content: "\42";
}
.ai-logout:before {
  content: "\44";
}
.ai-quizes:before {
  content: "\47";
}
.ai-settings:before {
  content: "\41";
}
.ai-heart-o:before {
  content: "\45";
}
.ai-heart:before {
  content: "\48";
}
.ai-certificate:before {
  content: "\49";
}
.ai-clock:before {
  content: "\4a";
}
.ai-quote-left:before {
  content: "\50";
}
.ai-quote-right:before {
  content: "\4e";
}
.ai-refund:before {
  content: "\46";
}
.ai-warning:before {
  content: "\4c";
}
.ai-cartp:before {
  content: "\4f";
}
.ai-calendar-sq:before {
  content: "\4b";
}
.ai-calendar-ch:before {
  content: "\4d";
}
.ai-close:before {
  content: "\52";
}
.ai-close-circle:before {
  content: "\51";
}
.ai-play-circle:before {
  content: "\53";
}
.ai-chat:before {
  content: "\55";
}
.ai-download:before {
  content: "\56";
}
.ai-check-circle:before {
  content: "\57";
}
.ai-lock:before {
  content: "\5a";
}
.ai-filmstrip:before {
  content: "\30";
}
.ai-video:before {
  content: "\31";
}
.ai-infinity:before {
  content: "\59";
}
.ai-refresh:before {
  content: "\54";
}
.ai-language:before {
  content: "\43";
}
.ai-sound:before {
  content: "\32";
}
.ai-play-next:before {
  content: "\33";
}
.ai-edit:before {
  content: "\58";
}
.ai-play:before {
  content: "\36";
}
.ai-pause:before {
  content: "\34";
}
.ai-to-start:before {
  content: "\35";
}
.ai-to-end:before {
  content: "\37";
}

